body, h1,h2,h3,h4,h5,h6 {
    font-family: "PT Sans", sans-serif
}

#main {
    margin-left: 120px
}

header {
    text-align: center;
}

#about,
#highlights,
#skills,
#contact {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }

    header {
        text-align: center;
        padding-top: 80px;
    }

     .profile-pic {
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 500px) {
    h1.w3-jumbo {
        font-size: 3rem !important;
    }

    h3 {
        font-size: 1.25rem;
    }
}


.profile-pic {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#myNavbar .w3-bar {
    display: flex;
}

#myNavbar .w3-bar-item {
    flex: 1;
}

.w3-sidebar {
    width: 120px;
    background: #222;
}

.w3-row-padding img {
    margin-bottom: 12px
}